.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 40%
    right: 22%
  &-2
    animation: float1 3.2s ease-in-out infinite alternate
    position: absolute
    top: 78%
    right: 81%
  &-3
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 77%
    right: 24%  
@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)


.fa-ul
  margin-left: 0 !important
  li
    display: flex !important
    &:before
      position: relative
      margin-right: 7px
      font-size: 1.4rem        
.bg-color-acento-contenido
  background-color: $color-acento-contenido

.bgc-1
  background-image: url("../assets/curso/temas/t1/bg1.png")
  background-position: center top
  background-size: 100% 94%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bgc-2
  background-image: url("../assets/curso/temas/t1/bg2.png")
  background-position: center
  background-size: 100% 100%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover 
.bgc-3
  background-color: #F6F6F6
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
.bgc-4
  background-image: url("../assets/curso/temas/t2/bg1.png")
  background-position: center bottom
  background-size: 100% 75%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover  
.bgc-5
  background-image: url("../assets/curso/temas/t4/bg2.png")
  background-position: center bottom
  background-size: 100% 75%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover  
.bgc-6
  background-image: url("../assets/curso/temas/t3/bg2.png")
  background-position: center bottom
  background-size: 100% 73%
  background-repeat: no-repeat
  margin-inline: -3.4rem
  @media screen and (max-width: 992px)
    margin-inline: -3rem  
    background-size: cover 
  @media screen and (max-width: 767px)
    margin-inline: -1.4rem  
    background-size: cover   
.bgi-1
  background-image: url("../assets/curso/temas/t4/bg1.png")
  background-position: center
  background-size: 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover 
.bgi-2
  background-image: url("../assets/curso/temas/t3/bg1.png")
  background-position: center
  background-size: 100%
  background-repeat: no-repeat
  @media screen and (max-width: 992px)
    background-size: cover
.bg-1
  background-color: #F0FAFB
.bg-2
  background-color: #FFF4CC !important
.bg-3
  background-color: #FFE178
.bg-4
  background-color: #F6F6F6
.bg-5
  background-color: #FFF    


.tit-tercer2
  position: relative  
  width: fit-content
  &:after
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 65%
    border: 3px solid #69CCD1
    border-radius: 50px
    z-index: 0
    @media (max-width: $bp-max-md)
      height: 100%
  img 
    z-index: 3  
    position: relative
  h3   
    z-index: 1
    position: relative
.text-dest
  color: #EA3A70
.lista-ol--cuadro__vineta span
  color: $color-sistema-texto
  font-weight: bold

.lista-ul--color.fa-ul.color-adicional-1 i 
  color: #FFC03C

.cajon-img1 img
  width: inherit
  height: 276px
  object-fit: cover
  margin: 0 auto

.bloque-texto-g img
  width: initial
  height: 90%
  margin: 0 auto
  padding-top: 30px

.tarjeta.bg-1  
  background-color: #FFF
  border-bottom: 1px solid #E8E8E8
  border-radius: 0px
  &.acordion__activo 
    background-color: #F0FAFB !important
    border-radius: 20px
    border-bottom: 0px
    .acordion__accion__btn--b 
      border: 1px solid #111e61
      background-color: transparent
      i
        color: #12263F    
  .acordion__accion__btn--b 
    border: 1px solid #EA3A70
    background-color: #EA3A70
    i
      color: #FFF
.acordion__accion__btn--a 
  background-color: #EA3A70
  i
    color: #FFF !important
.tema3 .acordion__activo
  background-color: #E8F8F8

.img-infografica.color-acento-botones .img-infografica__item__numero
  color: #FFF !important
.img-infografica__card--selected, .img-infografica-b__card--selected 
  z-index: 2

.bgi-1 
  .slyder-a__bullets  
    display: none
  .slyder-a__btn--sigt, .slyder-a__btn--atrs
    background-color: #EA3A70
    border-color: #EA3A70
    opacity: 1

.pasos-b__header__btn--left, .pasos-b__header__btn--right
  background-color: #EA3A70
  border-color: #EA3A70
  i 
    color: #FFF !important